
.revealButton_clear {
  clear: both;
}

.revealButtonContainer {
  box-sizing: border-box;
  height: 40px;
  position: relative;
  border: 1px solid #C9C9C9;
  overflow: hidden;
  font-size: 16px;
  font-family: arial;
}

.revealButton_successBox {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #A89A6D;
  color: white;
  text-align: center;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);

  -webkit-transition: -webkit-transform .5s;
  transition: transform .5s;
}

.revealButton_successText {
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


/* Full text Box */

.revealButton_fullTextBox {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #021835;
  text-align: center;
  cursor: pointer;

  -webkit-transition: -webkit-transform .5s;
  transition: transform .5s, opacity .5s;
}

.revealButton_fullTextBox:hover, .revealButton_fullTextBox:active {
  background-color: #152A46;
}

.revealButton_fullText {
  color: white;
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.revealButton_formBox {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  transition: opacity: .5s;
}


.revealButton_inputText {
  box-sizing: border-box;
  float: left;
  font-size: 16px;
  margin: 0;
  height: 100%;
  padding: 0 20px;
  width: 65%;
  border: none;
  outline: none;

}

.revealButton_button {
  box-sizing: border-box;
  height: 100%;
  text-align: center;
  float: left;
  width: 35%;
  background-color: #021835;
  padding: 0 20px;
  padding-bottom: 2px;
  font-size: 16px;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.revealButton_button:hover, .revealButton_button:active {
  background-color: #152A46;
}

/* Transition */

.revealButtonContainer.show .revealButton_fullTextBox {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.revealButtonContainer.success .revealButton_successBox {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
